/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
      header{
        padding: 10px 0 0 0 !important;
    }
     .menu ul li a {
    text-align: right;
    }
    /* hero start */
    .hero {
    padding: 60px 0;
}
.hero h1 {
    padding-top: 30px;
}
    .left_hero {
    text-align: center;
    padding-bottom: 30px;
}
    /* hero end */
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
      header{
        padding: 10px 0 0 0 !important;
    }
     .menu ul li a {
    text-align: right;
    }
    /* hero start */
    .hero {
    padding: 60px 0;
}
    .left_hero {
    text-align: center;
    padding-bottom: 30px;
}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .menu ul li a {
    text-align: right;
    }
    /* hero start */
    .hero{
    padding: 80px 0;
   }
   .hero h1{
    font-size:28px;
   }
    /* hero end */
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1199.98px) and (max-width: 1399.98px) { 

}
/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 

} 